<!--
  Generated template for the TvRadioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <menu [titulo]='"Tv y Radio"'></menu>

</ion-header>
<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="tv">
        TV
      </ion-segment-button>
      <ion-segment-button value="radio">
        Radio
      </ion-segment-button>
    </ion-segment>
  </div>


  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'tv'" inset>
      <ion-item *ngFor='let tv of videos | object' (click)='verTv(tv)'>
        <ion-icon item-start name="videocam"></ion-icon>
        {{tv.nombre}}
      </ion-item>

    </ion-list>

    <ion-list *ngSwitchCase="'radio'" inset>
      <ion-item *ngFor='let radio of radios | object' (click)='verRadio(radio)'>
        <ion-icon item-start name="radio"></ion-icon>
        {{radio.nombre}}
      </ion-item>

    </ion-list>
  </div>

</ion-content>